[Unit]
Description=SSHFS mount to NAS for enviro data
Wants=network-online.target
After=network-online.target
Before=enviro.service

[Mount]
What=enviro@nas.barea.org:enviro/enviro/
Where=/mnt/nas
Type=fuse.sshfs
Options=port=2222,reconnect,IdentityFile=/home/user/.ssh/id_ed25519,uid=1000,gid=1000,ServerAliveInterval=15,ServerAliveCountMax=3,_netdev,allow_other

[Install]
WantedBy=multi-user.target
